<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tests for Zcommerce Regression">
    <test name="Test for Authentication of user">               
        <classes>
            <!-- <class name="org.example.Test.TestCase_01">
                <methods>
                    <include name="TestCase01"/> 
                    <include name="TestCase01_1"/>
                </methods>
            </class>
            <class name="org.example.Test.TestCase_02">
                <methods>
                    <include name="TestCase02"/>
                </methods>
            </class>
            <class name="org.example.Test.TestCase_03">
                <methods>
                    <include name="TestCase03"/>
                </methods>
            </class>
            <class name="org.example.Test.TestCase_04">
                <methods>
                    <include name="TestCase04"/>
                </methods>
            </class> -->
            <class name="org.example.Test.TestCase_05">
                <methods>
                    <include name="TestCase05"/>
                </methods>
            </class>
        </classes>                
    </test>    
    <!-- <test name="API Testing for order services">
        <classes>
            <class name="org.example.API_Testing.OrderServices.CartController">
                <methods>
                    <include name="addValidItemToCart" />
                    <include name="getCartDetails" />
                    <include name="updateProductQuantity" />
                </methods>
            </class>    
            <class name="org.example.API_Testing.OrderServices.OrderController">
                <methods>                    
                    <include name="createOrder" />                    
                    <include name="getOrderDetails" />                    
                    <include name="updateOrderStatus" />                    
                </methods>
            </class>
            <class name="org.example.API_Testing.OrderServices.PaymentController">
                <methods>                    
                    <include name="initiatePayment" />                                                
                    <include name="getPaymentDetails" />                                                
                </methods>
            </class>    
        </classes>
    </test>
    <test name="API Testing for product services">
        <classes>
            <class name="org.example.API_Testing.ProductServices.ReviewController">
                <methods>                    
                    <include name="getReview" />
                    <include name="getAllReview" />
                </methods>
            </class>
            <class name="org.example.API_Testing.ProductServices.ItemController">
                <methods>                    
                    <include name="getItemById" />
                    <include name="getItemInventory" />
                    <include name="searchItem" />
                    <include name="getRecomended" />
                </methods>
            </class> 
        </classes>
    </test> -->
</suite>
