<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tests for Zcommerce Regression">
    <test name="Test for Authentication of user">               
        <classes>
            <class name="org.example.Test.TestCase_01">
                <methods>
                    <include name="TestCase01"/>
                    <include name="TestCase01_1"/>
                </methods>
            </class>            
        </classes>                
    </test>    
</suite>
